<div class="row">
    <div class="row">
        <div class="col-1">
            <img src="../../assets/images/4test-768x768.jpg" class="banners1" alt="">
        </div>
        <div class="col-11">
            <p><strong>Test</strong></p>
            <p>Test</p>
        </div>
    </div>
    <div class="row d-flex justify-content-end">
        <div id="message-container" class="rounded1">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam ipsa saepe eum, laudantium
                 sunt placeat provident magnam tenetur sint quod numquam explicabo nemo inventore vero 
                 pariatur repudiandae? Inventore, repellat voluptas.</p>
            
        </div>
    </div>
</div>
