<div class="row d-flex justify-content-center">
    <div id="form_container" class="d-flex justify-content-center rounded1">
        <form>
            <div class="form-group">
                <input type="text" class="form-control border_radius" id="title" placeholder="Title">
            </div>

            <div class="form-group">
                <input type="email" class="form-control border_radius" id="receiver" placeholder="Destinataire">
            </div>

            <div class="form-group">
                <textarea class="form-control border_radius" id="message" rows="3" placeholder="Message"></textarea>
            </div>
            <div class="d-flex justify-content-center"> 
                <button type="submit" class="btn self-align-center border_radius">Publier</button>
            </div>
        </form>
    </div>
</div>